div#gauche{   /* permet de créé une bordure à 15% de la page en partant du coin en haut à gauche et qui descend sur toute la page. La zone entre le coté de la page et la bordure possède une couleur d'arrière plan */
	position:absolute;
	top:0%;
	left:0%;
	border-right:1px solid black;
	width:15%;
	height:170%;
	background-color:#808080;
}

div#droite{  /* permet de créé une bordure à 15% de la page en partant du coin en haut à droite et qui descend sur toute la page. La zone entre le coté de la page et la bordure possède une couleur d'arrière plan */
	position:absolute;
	top:0%;
	right:0%;
	border-left:1px solid black;
	width:15%;
	height:170%;
	background-color:#808080;
}

div#centre{  /* permet de définir la zone centrale ainsi que sa couleur d'arrière plan */
	position:absolute;
	top:0%;
	right:15%;
	width:70%;
	height:170%;
	background-color:#C0C0C0;
	
}

h1.titre{    /* permet d'aligner et de souligner le texte présent dans la balise "h1" */
	text-decoration:underline;
	text-align:center;
}

div#logo{  /* permet de positionner le logo en haut à droite de la page et de l'entourer de bordure noir. Le z-index lui permet d'être afficher par dessus les autres éléments et ainsi d'être visible*/
	position:absolute;
	top:0%;
	right:0%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	z-index:10;	
}