div#logo{  /* permet de positionner le logo en bas à droite de la page et de l'entourer de bordure */
	position:absolute;
	bottom:0%;
	right:0%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

div#haut { /* permet de crée la zone dans laquelle se trouve la bannière, le font-size permet d'augmenter la taille du texte, et le z-index permet de pouvoir superposer des choses par dessus la bannière */
	position: absolute;
	top: 0.1%;
	left: 0.1%;
	width: 100%;
	height: 20%;
	background: url("image_projet/banniere_1.jfif");
	border-bottom: 1px solid black;
	border-left:1px solid black;
	background-size: 100% 100%;
	border-top:1px solid black;
	font-size:150%;
	background-repeat:no-repeat;
	color:lightgrey;
}

div#texte_avec_lien {   /* définit la zone et la couleur d'arrière plan dans laquelle se trouve les liens redirigant vers les autres pages du site. Cette zone est entouré de bordure et le texte est centré */
	position: absolute;
	top: 20%;
	right:0%;
	width: 6.9%;
	height: 66.5%;	
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color:#D3D3D3;
	z-index:10;
}

#bouton {  /* permet de positionner et de centrer le bouton pour changer de page d'acceuil */
	position: absolute;
	top: 95%;
	left: 42%;
	width: 15%;
	height: 5%;
	text-align: center
}

.foot{  /* permet de positionner l'image de la balle de foot */
	position:absolute;
	bottom:12%;
	left:2.5%;
	z-index:10;
}

.netflix{  /* permet de positionner l'image de netflix */
	position:absolute;
	top:25%;
	right:10%;
	z-index:10;
}

.basket{ /* permet de positionner l'image de la balle de basket */
	position:absolute;
	top:25%;
	left:2.5%;
	z-index:10;
}

.cathedrale{  /* permet de positionner l'image de la cathédrale de senlis */
	position:absolute;
	bottom:12%;
	right:10%;
	z-index:10;
}

.mehdi{  /* permet de positionner l'image de la balle de mehdi */
	position:absolute;
	top:50%;
	left:25%;
	z-index:10;
}

.vincent{  /* permet de positionner l'image de la balle de vincent */
	position:absolute;
	top:50%;
	right:43%;
	z-index:10;
}

div#Gauche {  /* positionne la bordure de gauche et la bordure du bas de la page */
	position: absolute;
	bottom:0%;
	left:0.1%;
	width:100%;
	height:80%;
	border-bottom: 1px solid black;
	border-left:1px solid black;
}

h4{  /* positionne le texte présent dans la balise "h4" */
	position:absolute;
	top:43%;
	left:33%;
	width: 67%;
	z-index:10;
}

div#background{  /* permet de définir la zone qui va être affecté par le changement de couleur grâce au java script */
	position:absolute;
	top:20%;
	left:0%;
	width:92.9%;
	height:80%;
}

div#couleur1 {  /* définit la zone ou l'on va cliquer pour changer la couleur d'arrière plan et d'entourer cette zone de bordure */
	position: absolute;
	top: 93.5%;
	left: 59%;
	width: 40px;
	height: 40px;
	background: #FAEBD7;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-top: 3px solid black;
}
	
div#couleur2 {  /* définit la zone ou l'on va cliquer pour changer la couleur d'arrière plan et d'entourer cette zone de bordure */
	position: absolute;
	top: 93.5%;
	left: 37%;
	width: 40px;
	height: 40px;
	background: #A9A9A9;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-top: 3px solid black;
}